version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  trainer:
    build:
      context: trainer
      dockerfile: Dockerfile
    container_name: trainer_container
    volumes:
      - ./trainer/data:/app/data

volumes:
  mongo_data: